<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h4><%=resource.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="appChartOfAccount-tab" data-toggle="tab" href="#appChartOfAccount" role="tab" aria-controls="appChartOfAccount" aria-selected="true"><h4><%=resource.AppChartOfAccount.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="appRptBalanceSheet-tab" data-toggle="tab" href="#appRptBalanceSheet" role="tab" aria-controls="appRptBalanceSheet" aria-selected="true"><h4><%=resource.AppRptBalanceSheet.Heading%></h4></a>
      </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">	
            <div style="width:40%">
            <form class="form-horizontal">
                <table class="table table-striped">
                    <tr class="heading-tr">
                        <th> <%=resource.Heading%></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><%=resource.AccountSubClassId.label%></td>
                        <td><%=record.account_sub_class_id%></td>						
                    </tr><tr>
                        <td><%=resource.AccountSubClassName.label%></td>
                        <td><%=record.account_sub_class_name%></td>						
                    </tr><tr>
                        <td><%=resource.Note.label%></td>
                        <td><%=record.note%></td>						
                    </tr><tr>
                        <td><%=resource.AccountClassId.label%></td>
                        <td><%=record.account_class_id%></td>						
                    </tr>
                
                </table>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <button type="submit" class="btn btn-default"><a href="/writeAppAccountSubClass?accountSubClassId=<%=record.account_sub_class_id%>">Edit</a></button>
                <button type="submit" class="btn btn-default"><a href="/deleteAppAccountSubClass?accountSubClassId=<%=record.account_sub_class_id%>">Delete</a></button>
                <% } %>
                <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Back</button>
            </form>
            </div>
        </div>
        
	<div class="tab-pane fade" id="appChartOfAccount" role="tabpanel" aria-labelledby="appChartOfAccount-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.AppChartOfAccount.ChartOfAccountId.header%></th>
                    <th><%=resource.AppChartOfAccount.AccountSubClassId.header%></th>
                    <th><%=resource.AppChartOfAccount.AccountNo.header%></th>
                    <th><%=resource.AppChartOfAccount.AccountName.header%></th>
                    <th><%=resource.AppChartOfAccount.IsCashOrBank.header%></th>
                    <th><%=resource.AppChartOfAccount.IsNotActive.header%></th>
                    <th><%=resource.AppChartOfAccount.CurrencyId.header%></th>
                    <th><%=resource.AppChartOfAccount.DepartmentId.header%></th>
                    <th><%=resource.AppChartOfAccount.NormalBalance.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.appChartOfAccount){ let rec = record.appChartOfAccount[i] %>
                <tr>
                    <td><a><%=rec.chart_of_account_id%></a></td>
                    <td><a><%=rec.account_sub_class_id%></a></td>
                    <td><a><%=rec.account_no%></a></td>
                    <td><a><%=rec.account_name%></a></td>
                    <td><a><%=rec.is_cash_or_bank%></a></td>
                    <td><a><%=rec.is_not_active%></a></td>
                    <td><a><%=rec.currency_id%></a></td>
                    <td><a><%=rec.department_id%></a></td>
                    <td><a><%=rec.normal_balance%></a></td>
                    
                    <td><a href="/readAppChartOfAccount?chartOfAccountId=<%=rec.chart_of_account_id%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeAppChartOfAccount?chartOfAccountId=<%=rec.chart_of_account_id%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteAppChartOfAccount?chartOfAccountId=<%=rec.chart_of_account_id%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newAppChartOfAccount">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
	<div class="tab-pane fade" id="appRptBalanceSheet" role="tabpanel" aria-labelledby="appRptBalanceSheet-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.AppRptBalanceSheet.RptBalanceSheetId.header%></th>
                    <th><%=resource.AppRptBalanceSheet.RptBalanceSheetName.header%></th>
                    <th><%=resource.AppRptBalanceSheet.DepartmentFrom.header%></th>
                    <th><%=resource.AppRptBalanceSheet.DepartmentTo.header%></th>
                    <th><%=resource.AppRptBalanceSheet.CurrencyId.header%></th>
                    <th><%=resource.AppRptBalanceSheet.AccountClassId.header%></th>
                    <th><%=resource.AppRptBalanceSheet.AccountSubClassId.header%></th>
                    <th><%=resource.AppRptBalanceSheet.AccountNo.header%></th>
                    <th><%=resource.AppRptBalanceSheet.EndingBalanceDebit.header%></th>
                    <th><%=resource.AppRptBalanceSheet.EndingBalanceCredit.header%></th>
                    <th><%=resource.AppRptBalanceSheet.ComparativeEndingBalanceDebit.header%></th>
                    <th><%=resource.AppRptBalanceSheet.ComparativeEndingBalanceCredit.header%></th>
                    <th><%=resource.AppRptBalanceSheet.DateCreated.header%></th>
                    <th><%=resource.AppRptBalanceSheet.CreatedBy.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.appRptBalanceSheet){ let rec = record.appRptBalanceSheet[i] %>
                <tr>
                    <td><a><%=rec.rpt_balance_sheet_id%></a></td>
                    <td><a><%=rec.rpt_balance_sheet_name%></a></td>
                    <td><a><%=rec.department_from%></a></td>
                    <td><a><%=rec.department_to%></a></td>
                    <td><a><%=rec.currency_id%></a></td>
                    <td><a><%=rec.account_class_id%></a></td>
                    <td><a><%=rec.account_sub_class_id%></a></td>
                    <td><a><%=rec.account_no%></a></td>
                    <td><a><%=rec.ending_balance_debit%></a></td>
                    <td><a><%=rec.ending_balance_credit%></a></td>
                    <td><a><%=rec.comparative_ending_balance_debit%></a></td>
                    <td><a><%=rec.comparative_ending_balance_credit%></a></td>
                    <td><a><%=dateFormat(rec.date_created,'mmm-dd-yyyy h:MM:ss TT')%></a></td>
                    <td><a><%=rec.created_by%></a></td>
                    
                    <td><a href="/readAppRptBalanceSheet?rptBalanceSheetId=<%=rec.rpt_balance_sheet_id%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeAppRptBalanceSheet?rptBalanceSheetId=<%=rec.rpt_balance_sheet_id%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteAppRptBalanceSheet?rptBalanceSheetId=<%=rec.rpt_balance_sheet_id%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newAppRptBalanceSheet">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
