<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <div style="width:40%">
    <h3><%=resource.Title%></h3>
    <form class="form-horizontal" action="/writeAppCurrencyRevaluation" method="post">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th style="text-align:right"><%=statusMessage%></th>
            </tr>
            <tr>
                <td><%=resource.CurrencyRevaluationId.label%></td>
                <td><input type="text" class="form-control" name="currencyRevaluationId" value="<%=record.currency_revaluation_id%>"/></td>
            </tr><tr>
                <td><%=resource.Date.label%></td>
                <td><input type="text" class="form-control" name="date" value="<%=record.date%>"/></td>
            </tr><tr>
                <td><%=resource.CurrencyId.label%></td>
                <td><input type="text" class="form-control" name="currencyId" value="<%=record.currency_id%>"/></td>
            </tr><tr>
                <td><%=resource.ExchangeRate.label%></td>
                <td><input type="text" class="form-control" name="exchangeRate" value="<%=record.exchange_rate%>"/></td>
            </tr><tr>
                <td><%=resource.IsActivateAccountFilterType.label%></td>
                <td><input type="text" class="form-control" name="isActivateAccountFilterType" value="<%=record.is_activate_account_filter_type%>"/></td>
            </tr><tr>
                <td><%=resource.IsActivateAccountCodeFilter.label%></td>
                <td><input type="text" class="form-control" name="isActivateAccountCodeFilter" value="<%=record.is_activate_account_code_filter%>"/></td>
            </tr><tr>
                <td><%=resource.IsRecalculateAccountEndBalance.label%></td>
                <td><input type="text" class="form-control" name="isRecalculateAccountEndBalance" value="<%=record.is_recalculate_account_end_balance%>"/></td>
            </tr>
        
        </table>
        <button type="submit" class="btn btn-default">Update</button>
        <% if(statusCode == 200) { %>
        <button type="button" class="btn btn-default""><a href="/<%=session.previouspath%>">Back</a></button>
        <% }else{ %>
        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Cancel</button>
        <% } %>
    </form>
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
