<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

<form class="form-horizontal" action="/searchAppCurrency" method="get">    
    <div style="width:50%">
    <h3><%=resource.Title%></h3>
        <input type="hidden" class="form-control" name="rowid" value="0"/>    
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><%=resource.CurrencyId.label%></td>    
                <td><input type="text" class="form-control" name="currency_id"/></td>
                <td>
                    <button type="submit" name="action" value="first" class="btn btn-default">Find</button>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <button type="submit" class="btn btn-default"><a href="/newAppCurrency">Add</a></button>
                    <% } %>
                </td>
            </tr>
        </table>    
    </div>
    
    <div style="width:75%">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.AppCurrency.CurrencyId.header%></th>
                <th><%=resource.AppCurrency.CurrencyCode.header%></th>
                <th><%=resource.AppCurrency.CurrencyName.header%></th>
                <th><%=resource.AppCurrency.CurrencySymbol.header%></th>
                <th><%=resource.AppCurrency.ExchangeRate.header%></th>
                <th><%=resource.AppCurrency.ByDate.header%></th>
                <th><%=resource.AppCurrency.ControlAccountAr.header%></th>
                <th><%=resource.AppCurrency.ControlAccountAp.header%></th>
                <th><%=resource.AppCurrency.ControlAccountBankPayment.header%></th>
                <th><%=resource.AppCurrency.ControlAccountCashPayment.header%></th>
                <th><%=resource.AppCurrency.IsCurrencyBase.header%></th>
                <th><%=resource.AppCurrency.IsForeignCurrency.header%></th>
                
            	<th>View</th>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <th>Edit</th>
                <th>Delete</th>
                <% } %>
            </tr>
            <% for(var i in records){let row = records[i]; %>			            
            <tr>
                <td><a><%=row.currency_id%></a></td>
                <td><a><%=row.currency_code%></a></td>
                <td><a><%=row.currency_name%></a></td>
                <td><a><%=row.currency_symbol%></a></td>
                <td><a><%=row.exchange_rate%></a></td>
                <td><a><%=dateFormat(row.by_date,'mmm-dd-yyyy')%></a></td>
                <td><a><%=row.control_account_ar%></a></td>
                <td><a><%=row.control_account_ap%></a></td>
                <td><a><%=row.control_account_bank_payment%></a></td>
                <td><a><%=row.control_account_cash_payment%></a></td>
                <td><a><%=row.is_currency_base%></a></td>
                <td><a><%=row.is_foreign_currency%></a></td>
                
                <td><a href="/readAppCurrency?currencyId=<%=row.currency_id%>"><span class="glyphicon glyphicon-open"></span></a></td>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <td><a href="/writeAppCurrency?currencyId=<%=row.currency_id%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="/deleteAppCurrency?currencyId=<%=row.currency_id%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                <% } %>
            </tr>
            <% } %>            
        </table>
        
        <div class="table-pagination">
           <ul class="pagination">
                 <li><button type="submit" name="action" value="first" class="btn btn-default">First</button></li>
                 <li><button type="submit" name="action" value="previous" class="btn btn-default">Previous</button></li>
                 <li><button type="submit" name="action" value="next" class="btn btn-default">Next</button></li>
                 <li><button type="submit" name="action" value="last" class="btn btn-default">Last</button></li>
           </ul>	        
        </div>
    </div>
</form>                

</section>
</div>
</div>
<% include footer %>
</body>
</html>
