<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

<form class="form-horizontal" action="/searchAppMonthEndPeriod" method="get">    
    <div style="width:50%">
    <h3><%=resource.Title%></h3>
        <input type="hidden" class="form-control" name="rowid" value="0"/>    
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><%=resource.MonthEndPeriodId.label%></td>    
                <td><input type="text" class="form-control" name="month_end_period_id"/></td>
                <td>
                    <button type="submit" name="action" value="first" class="btn btn-default">Find</button>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <button type="submit" class="btn btn-default"><a href="/newAppMonthEndPeriod">Add</a></button>
                    <% } %>
                </td>
            </tr>
        </table>    
    </div>
    
    <div style="width:75%">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.AppMonthEndPeriod.MonthEndPeriodId.header%></th>
                <th><%=resource.AppMonthEndPeriod.Date.header%></th>
                <th><%=resource.AppMonthEndPeriod.IsCalculateAndCreateDeprJournal.header%></th>
                <th><%=resource.AppMonthEndPeriod.IsRecalculateAccountBalance.header%></th>
                <th><%=resource.AppMonthEndPeriod.IsRecalculateInventoryAccountBalance.header%></th>
                <th><%=resource.AppMonthEndPeriod.IsRevaluationForeignCurrency.header%></th>
                
            	<th>View</th>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <th>Edit</th>
                <th>Delete</th>
                <% } %>
            </tr>
            <% for(var i in records){let row = records[i]; %>			            
            <tr>
                <td><a><%=row.month_end_period_id%></a></td>
                <td><a><%=dateFormat(row.date,'mmm-dd-yyyy')%></a></td>
                <td><a><%=row.is_calculate_and_create_depr_journal%></a></td>
                <td><a><%=row.is_recalculate_account_balance%></a></td>
                <td><a><%=row.is_recalculate_inventory_account_balance%></a></td>
                <td><a><%=row.is_revaluation_foreign_currency%></a></td>
                
                <td><a href="/readAppMonthEndPeriod?monthEndPeriodId=<%=row.month_end_period_id%>"><span class="glyphicon glyphicon-open"></span></a></td>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <td><a href="/writeAppMonthEndPeriod?monthEndPeriodId=<%=row.month_end_period_id%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="/deleteAppMonthEndPeriod?monthEndPeriodId=<%=row.month_end_period_id%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                <% } %>
            </tr>
            <% } %>            
        </table>
        
        <div class="table-pagination">
           <ul class="pagination">
                 <li><button type="submit" name="action" value="first" class="btn btn-default">First</button></li>
                 <li><button type="submit" name="action" value="previous" class="btn btn-default">Previous</button></li>
                 <li><button type="submit" name="action" value="next" class="btn btn-default">Next</button></li>
                 <li><button type="submit" name="action" value="last" class="btn btn-default">Last</button></li>
           </ul>	        
        </div>
    </div>
</form>                

</section>
</div>
</div>
<% include footer %>
</body>
</html>
