<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

<form class="form-horizontal" action="/searchAppRptProfitAndLoss" method="get">    
    <div style="width:50%">
    <h3><%=resource.Title%></h3>
        <input type="hidden" class="form-control" name="rowid" value="0"/>    
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><%=resource.RptProfitAndLossId.label%></td>    
                <td><input type="text" class="form-control" name="rpt_profit_and_loss_id"/></td>
                <td>
                    <button type="submit" name="action" value="first" class="btn btn-default">Find</button>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <button type="submit" class="btn btn-default"><a href="/newAppRptProfitAndLoss">Add</a></button>
                    <% } %>
                </td>
            </tr>
        </table>    
    </div>
    
    <div style="width:75%">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.AppRptProfitAndLoss.RptProfitAndLossId.header%></th>
                <th><%=resource.AppRptProfitAndLoss.RptProfitAndLossName.header%></th>
                <th><%=resource.AppRptProfitAndLoss.DepartmentFrom.header%></th>
                <th><%=resource.AppRptProfitAndLoss.DepartmentTo.header%></th>
                <th><%=resource.AppRptProfitAndLoss.CurrencyId.header%></th>
                <th><%=resource.AppRptProfitAndLoss.Revenue.header%></th>
                <th><%=resource.AppRptProfitAndLoss.RevenueExpenditure.header%></th>
                <th><%=resource.AppRptProfitAndLoss.GrossMargin.header%></th>
                <th><%=resource.AppRptProfitAndLoss.OperationalExpenditure.header%></th>
                <th><%=resource.AppRptProfitAndLoss.OperatingProfit.header%></th>
                <th><%=resource.AppRptProfitAndLoss.OtherRevenue.header%></th>
                <th><%=resource.AppRptProfitAndLoss.OtherExpenditure.header%></th>
                <th><%=resource.AppRptProfitAndLoss.NetProfit.header%></th>
                <th><%=resource.AppRptProfitAndLoss.ComparativeRevenue.header%></th>
                <th><%=resource.AppRptProfitAndLoss.ComparativeRevenueExpenditure.header%></th>
                <th><%=resource.AppRptProfitAndLoss.ComparativeGrossMargin.header%></th>
                <th><%=resource.AppRptProfitAndLoss.ComparativeOperationalExpenditure.header%></th>
                <th><%=resource.AppRptProfitAndLoss.ComparativeOperatingProfit.header%></th>
                <th><%=resource.AppRptProfitAndLoss.ComparativeOtherRevenue.header%></th>
                <th><%=resource.AppRptProfitAndLoss.ComparativeOtherExpenditure.header%></th>
                <th><%=resource.AppRptProfitAndLoss.ComparativeNetProfit.header%></th>
                <th><%=resource.AppRptProfitAndLoss.DateCreated.header%></th>
                <th><%=resource.AppRptProfitAndLoss.CreatedBy.header%></th>
                
            	<th>View</th>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <th>Edit</th>
                <th>Delete</th>
                <% } %>
            </tr>
            <% for(var i in records){let row = records[i]; %>			            
            <tr>
                <td><a><%=row.rpt_profit_and_loss_id%></a></td>
                <td><a><%=row.rpt_profit_and_loss_name%></a></td>
                <td><a><%=row.department_from%></a></td>
                <td><a><%=row.department_to%></a></td>
                <td><a><%=row.currency_id%></a></td>
                <td><a><%=row.revenue%></a></td>
                <td><a><%=row.revenue_expenditure%></a></td>
                <td><a><%=row.gross_margin%></a></td>
                <td><a><%=row.operational_expenditure%></a></td>
                <td><a><%=row.operating_profit%></a></td>
                <td><a><%=row.other_revenue%></a></td>
                <td><a><%=row.other_expenditure%></a></td>
                <td><a><%=row.net_profit%></a></td>
                <td><a><%=row.comparative_revenue%></a></td>
                <td><a><%=row.comparative_revenue_expenditure%></a></td>
                <td><a><%=row.comparative_gross_margin%></a></td>
                <td><a><%=row.comparative_operational_expenditure%></a></td>
                <td><a><%=row.comparative_operating_profit%></a></td>
                <td><a><%=row.comparative_other_revenue%></a></td>
                <td><a><%=row.comparative_other_expenditure%></a></td>
                <td><a><%=row.comparative_net_profit%></a></td>
                <td><a><%=dateFormat(row.date_created,'mmm-dd-yyyy')%></a></td>
                <td><a><%=row.created_by%></a></td>
                
                <td><a href="/readAppRptProfitAndLoss?rptProfitAndLossId=<%=row.rpt_profit_and_loss_id%>"><span class="glyphicon glyphicon-open"></span></a></td>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <td><a href="/writeAppRptProfitAndLoss?rptProfitAndLossId=<%=row.rpt_profit_and_loss_id%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="/deleteAppRptProfitAndLoss?rptProfitAndLossId=<%=row.rpt_profit_and_loss_id%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                <% } %>
            </tr>
            <% } %>            
        </table>
        
        <div class="table-pagination">
           <ul class="pagination">
                 <li><button type="submit" name="action" value="first" class="btn btn-default">First</button></li>
                 <li><button type="submit" name="action" value="previous" class="btn btn-default">Previous</button></li>
                 <li><button type="submit" name="action" value="next" class="btn btn-default">Next</button></li>
                 <li><button type="submit" name="action" value="last" class="btn btn-default">Last</button></li>
           </ul>	        
        </div>
    </div>
</form>                

</section>
</div>
</div>
<% include footer %>
</body>
</html>
