<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

<form class="form-horizontal" action="/searchAppRptBalanceSheet" method="get">    
    <div style="width:50%">
    <h3><%=resource.Title%></h3>
        <input type="hidden" class="form-control" name="rowid" value="0"/>    
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><%=resource.RptBalanceSheetId.label%></td>    
                <td><input type="text" class="form-control" name="rpt_balance_sheet_id"/></td>
                <td>
                    <button type="submit" name="action" value="first" class="btn btn-default">Find</button>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <button type="submit" class="btn btn-default"><a href="/newAppRptBalanceSheet">Add</a></button>
                    <% } %>
                </td>
            </tr>
        </table>    
    </div>
    
    <div style="width:75%">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.AppRptBalanceSheet.RptBalanceSheetId.header%></th>
                <th><%=resource.AppRptBalanceSheet.RptBalanceSheetName.header%></th>
                <th><%=resource.AppRptBalanceSheet.DepartmentFrom.header%></th>
                <th><%=resource.AppRptBalanceSheet.DepartmentTo.header%></th>
                <th><%=resource.AppRptBalanceSheet.CurrencyId.header%></th>
                <th><%=resource.AppRptBalanceSheet.AccountClassId.header%></th>
                <th><%=resource.AppRptBalanceSheet.AccountSubClassId.header%></th>
                <th><%=resource.AppRptBalanceSheet.AccountNo.header%></th>
                <th><%=resource.AppRptBalanceSheet.EndingBalanceDebit.header%></th>
                <th><%=resource.AppRptBalanceSheet.EndingBalanceCredit.header%></th>
                <th><%=resource.AppRptBalanceSheet.ComparativeEndingBalanceDebit.header%></th>
                <th><%=resource.AppRptBalanceSheet.ComparativeEndingBalanceCredit.header%></th>
                <th><%=resource.AppRptBalanceSheet.DateCreated.header%></th>
                <th><%=resource.AppRptBalanceSheet.CreatedBy.header%></th>
                
            	<th>View</th>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <th>Edit</th>
                <th>Delete</th>
                <% } %>
            </tr>
            <% for(var i in records){let row = records[i]; %>			            
            <tr>
                <td><a><%=row.rpt_balance_sheet_id%></a></td>
                <td><a><%=row.rpt_balance_sheet_name%></a></td>
                <td><a><%=row.department_from%></a></td>
                <td><a><%=row.department_to%></a></td>
                <td><a><%=row.currency_id%></a></td>
                <td><a><%=row.account_class_id%></a></td>
                <td><a><%=row.account_sub_class_id%></a></td>
                <td><a><%=row.account_no%></a></td>
                <td><a><%=row.ending_balance_debit%></a></td>
                <td><a><%=row.ending_balance_credit%></a></td>
                <td><a><%=row.comparative_ending_balance_debit%></a></td>
                <td><a><%=row.comparative_ending_balance_credit%></a></td>
                <td><a><%=dateFormat(row.date_created,'mmm-dd-yyyy')%></a></td>
                <td><a><%=row.created_by%></a></td>
                
                <td><a href="/readAppRptBalanceSheet?rptBalanceSheetId=<%=row.rpt_balance_sheet_id%>"><span class="glyphicon glyphicon-open"></span></a></td>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <td><a href="/writeAppRptBalanceSheet?rptBalanceSheetId=<%=row.rpt_balance_sheet_id%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="/deleteAppRptBalanceSheet?rptBalanceSheetId=<%=row.rpt_balance_sheet_id%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                <% } %>
            </tr>
            <% } %>            
        </table>
        
        <div class="table-pagination">
           <ul class="pagination">
                 <li><button type="submit" name="action" value="first" class="btn btn-default">First</button></li>
                 <li><button type="submit" name="action" value="previous" class="btn btn-default">Previous</button></li>
                 <li><button type="submit" name="action" value="next" class="btn btn-default">Next</button></li>
                 <li><button type="submit" name="action" value="last" class="btn btn-default">Last</button></li>
           </ul>	        
        </div>
    </div>
</form>                

</section>
</div>
</div>
<% include footer %>
</body>
</html>
