<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <div style="width:40%">
    <h3><%=resource.Title%></h3>
    <form class="form-horizontal" action="/writeAppRptCashFlow" method="post">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th style="text-align:right"><%=statusMessage%></th>
            </tr>
            <tr>
                <td><%=resource.RptCashFlowId.label%></td>
                <td><input type="text" class="form-control" name="rptCashFlowId" value="<%=record.rpt_cash_flow_id%>"/></td>
            </tr><tr>
                <td><%=resource.RptCashFlowName.label%></td>
                <td><input type="text" class="form-control" name="rptCashFlowName" value="<%=record.rpt_cash_flow_name%>"/></td>
            </tr><tr>
                <td><%=resource.DateFrom.label%></td>
                <td><input type="text" class="form-control" name="dateFrom" value="<%=record.date_from%>"/></td>
            </tr><tr>
                <td><%=resource.DateUntil.label%></td>
                <td><input type="text" class="form-control" name="dateUntil" value="<%=record.date_until%>"/></td>
            </tr><tr>
                <td><%=resource.AccountNo.label%></td>
                <td><input type="text" class="form-control" name="accountNo" value="<%=record.account_no%>"/></td>
            </tr><tr>
                <td><%=resource.EndingBalanceDebit.label%></td>
                <td><input type="text" class="form-control" name="endingBalanceDebit" value="<%=record.ending_balance_debit%>"/></td>
            </tr><tr>
                <td><%=resource.EndingBalanceCredit.label%></td>
                <td><input type="text" class="form-control" name="endingBalanceCredit" value="<%=record.ending_balance_credit%>"/></td>
            </tr><tr>
                <td><%=resource.DateCreated.label%></td>
                <td><input type="text" class="form-control" name="dateCreated" value="<%=record.date_created%>"/></td>
            </tr><tr>
                <td><%=resource.CreatedBy.label%></td>
                <td><input type="text" class="form-control" name="createdBy" value="<%=record.created_by%>"/></td>
            </tr>
        
        </table>
        <button type="submit" class="btn btn-default">Update</button>
        <% if(statusCode == 200) { %>
        <button type="button" class="btn btn-default""><a href="/<%=session.previouspath%>">Back</a></button>
        <% }else{ %>
        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Cancel</button>
        <% } %>
    </form>
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
