<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <div style="width:40%">
    <h3><%=resource.Title%></h3>
    <form class="form-horizontal" action="/newAppRptProfitAndLoss" method="post">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th style="text-align:right"><%=statusMessage%></th>
            </tr>
            <tr>
                <td><%=resource.RptProfitAndLossId.label%></td>
                <td><input type="text" class="form-control" name="rptProfitAndLossId" value="<%=record.rptProfitAndLossId%>"/></td>
            </tr><tr>
                <td><%=resource.RptProfitAndLossName.label%></td>
                <td><input type="text" class="form-control" name="rptProfitAndLossName" value="<%=record.rptProfitAndLossName%>"/></td>
            </tr><tr>
                <td><%=resource.DepartmentFrom.label%></td>
                <td><input type="text" class="form-control" name="departmentFrom" value="<%=record.departmentFrom%>"/></td>
            </tr><tr>
                <td><%=resource.DepartmentTo.label%></td>
                <td><input type="text" class="form-control" name="departmentTo" value="<%=record.departmentTo%>"/></td>
            </tr><tr>
                <td><%=resource.CurrencyId.label%></td>
                <td><input type="text" class="form-control" name="currencyId" value="<%=record.currencyId%>"/></td>
            </tr><tr>
                <td><%=resource.Revenue.label%></td>
                <td><input type="text" class="form-control" name="revenue" value="<%=record.revenue%>"/></td>
            </tr><tr>
                <td><%=resource.RevenueExpenditure.label%></td>
                <td><input type="text" class="form-control" name="revenueExpenditure" value="<%=record.revenueExpenditure%>"/></td>
            </tr><tr>
                <td><%=resource.GrossMargin.label%></td>
                <td><input type="text" class="form-control" name="grossMargin" value="<%=record.grossMargin%>"/></td>
            </tr><tr>
                <td><%=resource.OperationalExpenditure.label%></td>
                <td><input type="text" class="form-control" name="operationalExpenditure" value="<%=record.operationalExpenditure%>"/></td>
            </tr><tr>
                <td><%=resource.OperatingProfit.label%></td>
                <td><input type="text" class="form-control" name="operatingProfit" value="<%=record.operatingProfit%>"/></td>
            </tr><tr>
                <td><%=resource.OtherRevenue.label%></td>
                <td><input type="text" class="form-control" name="otherRevenue" value="<%=record.otherRevenue%>"/></td>
            </tr><tr>
                <td><%=resource.OtherExpenditure.label%></td>
                <td><input type="text" class="form-control" name="otherExpenditure" value="<%=record.otherExpenditure%>"/></td>
            </tr><tr>
                <td><%=resource.NetProfit.label%></td>
                <td><input type="text" class="form-control" name="netProfit" value="<%=record.netProfit%>"/></td>
            </tr><tr>
                <td><%=resource.ComparativeRevenue.label%></td>
                <td><input type="text" class="form-control" name="comparativeRevenue" value="<%=record.comparativeRevenue%>"/></td>
            </tr><tr>
                <td><%=resource.ComparativeRevenueExpenditure.label%></td>
                <td><input type="text" class="form-control" name="comparativeRevenueExpenditure" value="<%=record.comparativeRevenueExpenditure%>"/></td>
            </tr><tr>
                <td><%=resource.ComparativeGrossMargin.label%></td>
                <td><input type="text" class="form-control" name="comparativeGrossMargin" value="<%=record.comparativeGrossMargin%>"/></td>
            </tr><tr>
                <td><%=resource.ComparativeOperationalExpenditure.label%></td>
                <td><input type="text" class="form-control" name="comparativeOperationalExpenditure" value="<%=record.comparativeOperationalExpenditure%>"/></td>
            </tr><tr>
                <td><%=resource.ComparativeOperatingProfit.label%></td>
                <td><input type="text" class="form-control" name="comparativeOperatingProfit" value="<%=record.comparativeOperatingProfit%>"/></td>
            </tr><tr>
                <td><%=resource.ComparativeOtherRevenue.label%></td>
                <td><input type="text" class="form-control" name="comparativeOtherRevenue" value="<%=record.comparativeOtherRevenue%>"/></td>
            </tr><tr>
                <td><%=resource.ComparativeOtherExpenditure.label%></td>
                <td><input type="text" class="form-control" name="comparativeOtherExpenditure" value="<%=record.comparativeOtherExpenditure%>"/></td>
            </tr><tr>
                <td><%=resource.ComparativeNetProfit.label%></td>
                <td><input type="text" class="form-control" name="comparativeNetProfit" value="<%=record.comparativeNetProfit%>"/></td>
            </tr><tr>
                <td><%=resource.DateCreated.label%></td>
                <td><input type="text" class="form-control" name="dateCreated" value="<%=record.dateCreated%>"/></td>
            </tr><tr>
                <td><%=resource.CreatedBy.label%></td>
                <td><input type="text" class="form-control" name="createdBy" value="<%=record.createdBy%>"/></td>
            </tr>
        
        </table>
        <button type="submit" class="btn btn-default">Add</button>
        <% if(statusCode == 200) { %>
        <button type="button" class="btn btn-default"><a href="/<%=session.previouspath%>">Back</a></button>
        <% }else{ %>
        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Cancel</button>
        <% } %>
    </form>
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
