<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h4><%=resource.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="appApOpeningBalance-tab" data-toggle="tab" href="#appApOpeningBalance" role="tab" aria-controls="appApOpeningBalance" aria-selected="true"><h4><%=resource.AppApOpeningBalance.Heading%></h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="appArOpeningBalance-tab" data-toggle="tab" href="#appArOpeningBalance" role="tab" aria-controls="appArOpeningBalance" aria-selected="true"><h4><%=resource.AppArOpeningBalance.Heading%></h4></a>
      </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">	
            <div style="width:40%">
            <form class="form-horizontal">
                <table class="table table-striped">
                    <tr class="heading-tr">
                        <th> <%=resource.Heading%></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><%=resource.TermOfPaymentId.label%></td>
                        <td><%=record.term_of_payment_id%></td>						
                    </tr><tr>
                        <td><%=resource.TopCode.label%></td>
                        <td><%=record.top_code%></td>						
                    </tr><tr>
                        <td><%=resource.TopDesc.label%></td>
                        <td><%=record.top_desc%></td>						
                    </tr><tr>
                        <td><%=resource.DiscountDaysIndays.label%></td>
                        <td><%=record.discount_days_indays%></td>						
                    </tr><tr>
                        <td><%=resource.DueDateIndays.label%></td>
                        <td><%=record.due_date_indays%></td>						
                    </tr><tr>
                        <td><%=resource.EarlyDiscountInpercentage.label%></td>
                        <td><%=record.early_discount_inpercentage%></td>						
                    </tr><tr>
                        <td><%=resource.LateChargesInpercentage.label%></td>
                        <td><%=record.late_charges_inpercentage%></td>						
                    </tr>
                
                </table>
                <% if(session.user_acl=='ROLE_ADMIN') { %>
                <button type="submit" class="btn btn-default"><a href="/writeAppTermOfPayment?termOfPaymentId=<%=record.term_of_payment_id%>">Edit</a></button>
                <button type="submit" class="btn btn-default"><a href="/deleteAppTermOfPayment?termOfPaymentId=<%=record.term_of_payment_id%>">Delete</a></button>
                <% } %>
                <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Back</button>
            </form>
            </div>
        </div>
        
	<div class="tab-pane fade" id="appApOpeningBalance" role="tabpanel" aria-labelledby="appApOpeningBalance-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.AppApOpeningBalance.ApOpeningBalanceId.header%></th>
                    <th><%=resource.AppApOpeningBalance.VendorId.header%></th>
                    <th><%=resource.AppApOpeningBalance.Date.header%></th>
                    <th><%=resource.AppApOpeningBalance.InvoiceNo.header%></th>
                    <th><%=resource.AppApOpeningBalance.PurchaseOrderNo.header%></th>
                    <th><%=resource.AppApOpeningBalance.CurrencyId.header%></th>
                    <th><%=resource.AppApOpeningBalance.PayableValue.header%></th>
                    <th><%=resource.AppApOpeningBalance.TermOfPaymentId.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.appApOpeningBalance){ let rec = record.appApOpeningBalance[i] %>
                <tr>
                    <td><a><%=rec.ap_opening_balance_id%></a></td>
                    <td><a><%=rec.vendor_id%></a></td>
                    <td><a><%=dateFormat(rec.date,'mmm-dd-yyyy h:MM:ss TT')%></a></td>
                    <td><a><%=rec.invoice_no%></a></td>
                    <td><a><%=rec.purchase_order_no%></a></td>
                    <td><a><%=rec.currency_id%></a></td>
                    <td><a><%=rec.payable_value%></a></td>
                    <td><a><%=rec.term_of_payment_id%></a></td>
                    
                    <td><a href="/readAppApOpeningBalance?apOpeningBalanceId=<%=rec.ap_opening_balance_id%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeAppApOpeningBalance?apOpeningBalanceId=<%=rec.ap_opening_balance_id%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteAppApOpeningBalance?apOpeningBalanceId=<%=rec.ap_opening_balance_id%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newAppApOpeningBalance">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
	<div class="tab-pane fade" id="appArOpeningBalance" role="tabpanel" aria-labelledby="appArOpeningBalance-tab">
            <div style="width:75%">
            <table class="table table-striped">
                <tr class="heading-tr">
                    <th><%=resource.AppArOpeningBalance.ArOpeningBalanceId.header%></th>
                    <th><%=resource.AppArOpeningBalance.CustomerId.header%></th>
                    <th><%=resource.AppArOpeningBalance.Date.header%></th>
                    <th><%=resource.AppArOpeningBalance.InvoiceNo.header%></th>
                    <th><%=resource.AppArOpeningBalance.PurchaseOrderNo.header%></th>
                    <th><%=resource.AppArOpeningBalance.CurrencyId.header%></th>
                    <th><%=resource.AppArOpeningBalance.ReceivableValue.header%></th>
                    <th><%=resource.AppArOpeningBalance.TermOfPaymentId.header%></th>
                                        
                    <th>View</th>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <th>Edit</th>
                    <th>Delete</th>
                    <% } %>
                </tr>
                <% for(let i in record.appArOpeningBalance){ let rec = record.appArOpeningBalance[i] %>
                <tr>
                    <td><a><%=rec.ar_opening_balance_id%></a></td>
                    <td><a><%=rec.customer_id%></a></td>
                    <td><a><%=dateFormat(rec.date,'mmm-dd-yyyy h:MM:ss TT')%></a></td>
                    <td><a><%=rec.invoice_no%></a></td>
                    <td><a><%=rec.purchase_order_no%></a></td>
                    <td><a><%=rec.currency_id%></a></td>
                    <td><a><%=rec.receivable_value%></a></td>
                    <td><a><%=rec.term_of_payment_id%></a></td>
                    
                    <td><a href="/readAppArOpeningBalance?arOpeningBalanceId=<%=rec.ar_opening_balance_id%>"><span class="glyphicon glyphicon-open"></span></a></td>
                    <% if(session.user_acl=='ROLE_ADMIN') { %>
                    <td><a href="/writeAppArOpeningBalance?arOpeningBalanceId=<%=rec.ar_opening_balance_id%>"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="/deleteAppArOpeningBalance?arOpeningBalanceId=<%=rec.ar_opening_balance_id%>"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <% } %>
                </tr>
                <% } %>
            </table>        
	    <button type="submit" class="btn btn-default"><a href="/newAppArOpeningBalance">Add</a></button>
	    <button type="submit" class="btn btn-default">Clear</button>
	    </div>	    
        </div>            
        
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
