<!DOCTYPE html>
<html>
<head lang="en">
<% include head %>
</head>
<body>
<% include side-nav %>
<div id="main">
<% include header-nav %>
<div class="container-fluid">
<section id="main-content">

    <div style="width:40%">
    <h3><%=resource.Title%></h3>
    <form class="form-horizontal" action="/newAppTermOfSales" method="post">
        <table class="table table-striped">
            <tr class="heading-tr">
                <th><%=resource.Heading%></th>
                <th style="text-align:right"><%=statusMessage%></th>
            </tr>
            <tr>
                <td><%=resource.TermOfSalesId.label%></td>
                <td><input type="text" class="form-control" name="termOfSalesId" value="<%=record.termOfSalesId%>"/></td>
            </tr><tr>
                <td><%=resource.TosCode.label%></td>
                <td><input type="text" class="form-control" name="tosCode" value="<%=record.tosCode%>"/></td>
            </tr><tr>
                <td><%=resource.TosDesc.label%></td>
                <td><input type="text" class="form-control" name="tosDesc" value="<%=record.tosDesc%>"/></td>
            </tr><tr>
                <td><%=resource.DiscountDaysIndays.label%></td>
                <td><input type="text" class="form-control" name="discountDaysIndays" value="<%=record.discountDaysIndays%>"/></td>
            </tr><tr>
                <td><%=resource.DueDateIndays.label%></td>
                <td><input type="text" class="form-control" name="dueDateIndays" value="<%=record.dueDateIndays%>"/></td>
            </tr><tr>
                <td><%=resource.EarlyDiscountInpercentage.label%></td>
                <td><input type="text" class="form-control" name="earlyDiscountInpercentage" value="<%=record.earlyDiscountInpercentage%>"/></td>
            </tr><tr>
                <td><%=resource.LateChargesInpercentage.label%></td>
                <td><input type="text" class="form-control" name="lateChargesInpercentage" value="<%=record.lateChargesInpercentage%>"/></td>
            </tr>
        
        </table>
        <button type="submit" class="btn btn-default">Add</button>
        <% if(statusCode == 200) { %>
        <button type="button" class="btn btn-default"><a href="/<%=session.previouspath%>">Back</a></button>
        <% }else{ %>
        <button type="button" class="btn btn-default" onclick="javascript:window.history.back()">Cancel</button>
        <% } %>
    </form>
    </div>

</section>
</div>
</div>
<% include footer %>
</body>
</html>
